{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="col-xs-12 col-md-8">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
